<mddoc>
	<docpage target="README.md" autoloader="psr4" autoloader-root="src"
			 autoloader-root-namespace="Corpus\HttpMessageUtils">

		<section title="HTTP Message Utils">
			<badge-poser type="version"/>
			<badge-poser type="license"/>
			<badge-github-action name="CorpusPHP/HttpMessageUtils" workflow="CI"/>
			<text>Utilities for working with [PSR-7 Http Message](https://www.php-fig.org/psr/psr-7/) objects.</text>

			<section title="Requirements">
				<composer-requires/>
			</section>
			<section title="Installing">
				<composer-install/>
			</section>

			<section title="Documentation">
				<recursiveDirectory name="src"/>
			</section>
		</section>
	</docpage>
</mddoc>